<h2>Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %> | <%= project.complete ? "Complete" : "Incomplete" %></li>
  <% end %>
</ul>
<br>
<%= button_to "Add Project", new_project_path, method: :get, class: 'btn btn-primary' %>
