<h2><%= @category.name %></h2>
<h3>List of Tasks in this Category</h3>
<ul>
  <% @category.tasks.each do |task| %>
    <% if current_user.tasks.include?(task) %>
    <li><%= link_to task.name, task %> | <%= task.complete ? "Complete" : "Incomplete" %></li>
    <% end %>
  <% end %>
</ul>
<br>
<%= button_to "Edit Category", edit_category_path(@category.id), method: :get, class: 'btn btn-primary' %>
